<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ExecutorFullTestsITs">

    <test name="ExecutorTests" junit="true">

    </test>

    <test name="ExecutorITs">
        <classes>
            <class name="br.com.ciclic.brewery.beer.application.rest.BeerStyleControllerIT" />
        </classes>
    </test>

</suite>
